body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(253, 114, 50);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Info sup e Navbar -------------------------------------- */
.super-info {
    height: 40px;
    width: 100%;
    background: #4f425a;
    display:flex;
    justify-content: center;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    color: white;
}

.identify {
    display: flex;
}

.logo {
    margin-top: auto;
}

.logo-name {
    font-family: 'Heebo', sans-serif;
    margin-top: 6px;
    margin-left: 10px;
    color: rgb(63, 63, 63);
    font-size: 8pt;
}

#name2 {
    color: #ff5e14
}

.social-media a{
    margin: 0px 5px;
    font-size: 16pt;
}


nav {
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
    position: fixed;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    justify-content: space-between;
    z-index: 999;
}

.links a{
    margin: 0px 15px;
    font-size: 13pt;
    padding-bottom: 5px;
    color: rgb(238, 81, 25);
}

.links a:hover {
    border-bottom: 3px solid;
}

/* Menu de click ------------------------------- */
.click-menu {
    width: 100%;
    height: 40px;
    background: #3d3d3d;
    margin-top: 120px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    color: white;
    z-index: 999;
}

.click-menu a {
    color: white;
    font-size: 15pt;
}

.menu-opened {
    width: 100%;
    height: max-content;
    background: #272727;
    padding: 10px 20px;
    display: none;
    margin-top: 160px;
    position: fixed;
    z-index: 999;
}

.menu-opened a{
    color: white;
    width: max-content;
    margin-top: 10px;
}

#btns-menu a {
    margin: 0px 5px;
}

#btnClose {
    display: none;
}


/* Main ------------------------------------------- */

main {
    width: 100%;
    padding: 0px 100px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

.home {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service {
    width: 880px;
    padding: 20px;
    height: max-content;
    text-align: center;
    background: rgb(245, 245, 245);
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    border-radius: 2px;
}

.img-service img {
    border-radius: 5px;
}

.descri {
    width: 100%;
}

.descri h3 {
    color: rgb(90, 90, 90)
}

.descri ul {
    text-align: justify;
}

.descri ul li {
    margin-bottom: 10px;
}

.check {
    color: green;
}

.orcamento {
    width: 300px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
}

.btn-orca {
    height: 50px;
    width: 300px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15pt;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 3px;
    padding: 0px 60px;
    border: 3px solid white;
    background-color: #2b851f;
}

.btn-orca:hover {
    opacity: 0.9;
}

.icon-whats {
    margin-right: 10px;
}

/* About Section -------------------------------------- */

.about {
    width: 100%;
    margin-top: 70px;
    background-color: #4f425a;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.about-text {
    width: 100%;
}


.about-text h2{
    color: white;
    border-left: 4px solid orangered;
    padding-left: 5px;
}

.about-text p{
    color: thistle;
}

.project-title {
    width: 100%;
    flex-wrap: wrap;
}

.project-title h2 {
    color: white;
    border-left: 4px solid orangered;
    padding-left: 5px;
}


.project-title p{
    color:thistle;
}

.about-images {
    margin-top: 40px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img p{
    text-align: center;
    color: rgb(194, 194, 194);
    border: 2px solid;
    padding: 5px;
}

.img img {
    border-radius: 5px;
}

.img img:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition-duration: 0.3s;
}

/* Projetos ---------------------------------------------------- */

.projetos {
    width: 100%;
    height: max-content;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(31, 31, 31);
    padding: 10px 20px;
}

.projetos h2 {
    border-left: 4px solid orangered;
    padding-left: 5px;
    color: white;
    margin-bottom: 20px;
}


.title-projects {
    width: 100%;
}

.galery {
    margin-top: -10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.galery img {
    width: 270px;
    height: 150px;
    margin-top: 10px;
    border-radius: 3px;
}


@media (max-width: 900px) {

    .super-info {
        padding: 0px 50px;
    }
    nav {
        justify-content: center;
        padding: 0px 50px
    }

    .logo img{
        width: 60px;
    }

    .links a{
        display:none;
    }

    .click-menu {
        display: flex;
        margin-bottom: 30px;
    }

    main {
        padding: 0 100px;
        
    }

    .service {
        margin-top: 100px;
        margin-bottom: -10px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .img {
        margin: 0 auto;
    }
    
    
    .img img {
        width: 400px;
        height: 250px;
    }

    .galery img {
        margin: auto;
        margin-top: 20px;
        width: 450px;
        height: 250px;
    }
    
}

@media (min-width: 320px) and (max-width: 800px) {

    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .super-info {
        padding: 0px 20px;
        justify-content: center;
    }

    nav {
        justify-content: center;
        padding: 0 5px;
    }

    .logo {
        margin: auto;
    }

    main {
        padding: 0px;
    }

    .service {
        margin-top: 10px;
        width: 100%;
    }

    .service h3 {
        font-size: 13pt;
    }

    .img-service img{
        width: 300px;
    }
    
    .about-text h2 {
        font-size: 13pt;
        margin-top: 30px;
    }

    .about-text p {
        font-size: 11pt;
    }

    .project-title h2 {
        font-size: 13pt;
    }

    .project-title p{
        font-size: 11pt;
    }

    .about-images {
        padding: 0px 10px;
    }

    .img img{
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
    }

    .title-projects h2 {
        font-size: 13pt;
    }

    .projetos{
        width: 100%;
        padding: 0px 10px;
    }

    .galery {
        width: 100%;
        padding: 0px 10px;
    }

    .galery img {
        width: 300px;
        height: 210px;
    }

    .btn-orca {
        margin-top: 130px;
    }


}

